.wrap {
  margin: 0 2rem;
}
.imgWrap {
  height: auto;
  width: calc(100% - 32rem);
}
.imgLayout {
  height: calc(100% - 7rem);
  width: 100%;
}
.img {
  object-fit: contain;
}
.filterArea {
  min-height: 18rem;
}

.maxWidth {
  max-width: 29.25rem;
}
@media (min-width: 1024px) {
  .wrap {
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .imgLayout {
    margin-right: 4.5rem;
    width: 574px;
  }
}
