.layout {
  height: var(--doc-height);
  margin-top: 4.5rem;
}
.content {
  padding: 2rem;
  height: 100%;
}
.list {
  line-height: 1.33;
  margin-bottom: 2rem;
}
.loginBtn {
  margin-bottom: 5rem;
}
