@include experimental(appearance, none);
:root {
  --doc-height: calc(var(--vh, 1vh) * 100);
}

h1 {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  letter-spacing: 0.18em;
}
@media (min-width: 1024px) {
  h1 {
    padding: 2rem 0;
  }
}

.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500 !important;
}

.dropdown-toggle::after {
  font-size: 0.75rem !important;
}
